In [1]:
import pandas as  pd
import numpy as np

In [2]:
customer = pd.read_csv("../Dataset/ecommerce/Customer.csv")
sales = pd.read_csv("../Dataset/ecommerce/Sales.csv")
support = pd.read_csv("../Dataset/ecommerce/Support.csv")

In [3]:
rows , columns = customer.shape
print(f"Customer Rows:{rows} Columns:{columns}")
rows , columns = sales.shape
print(f"Sales Rows:{rows} Columns:{columns}")
rows , columns = support.shape
print(f"Supportn Rows:{rows} Columns:{columns}")

print(f"Column Name for Customer :{list(customer.keys())}")
print(f"Column Name for Sales :{list(sales.keys())}")
print(f"Column Name for Support :{list(support.keys())}")

print(f"Missing Values in Customer :\n{customer.isnull().sum().sort_values(ascending=False).to_string()}")
print(f"Missing Values in Sales :\n{sales.isnull().sum().sort_values(ascending=False).to_string()}")
print(f"Missing Values in Support :\n{support.isnull().sum().sort_values(ascending=False).to_string()}")

Customer Rows:8 Columns:5
Sales Rows:8 Columns:6
Supportn Rows:8 Columns:4
Column Name for Customer :['CustomerID', 'Name', 'Age', 'Region', 'SignupDate']
Column Name for Sales :['OrderID', 'CustomerID', 'Product', 'Quantity', 'Price', 'OrderDate']
Column Name for Support :['TicketID', 'CustomerID', 'IssueType', 'ResolutionTime']
Missing Values in Customer :
Age           1
CustomerID    0
Name          0
Region        0
SignupDate    0
Missing Values in Sales :
OrderID       0
CustomerID    0
Product       0
Quantity      0
Price         0
OrderDate     0
Missing Values in Support :
TicketID          0
CustomerID        0
IssueType         0
ResolutionTime    0

In [4]:
sales["Price"] = sales["Price"]*0.90
sales["Revenue"] = sales["Price"] * sales["Quantity"]
sales

  OrderID CustomerID     Product  Quantity    Price   OrderDate  Revenue
0   O1001       C001      Laptop         2  49500.0  2023-04-10  99000.0
1   O1002       C002      Mobile         1  22500.0  2023-04-12  22500.0
2   O1003       C003      Tablet         3  13500.0  2023-05-01  40500.0
3   O1004       C004      Laptop         1  54000.0  2023-05-15  54000.0
4   O1005       C005      Mobile         2  19800.0  2023-06-05  39600.0
5   O1006       C006  Headphones         5   1800.0  2023-06-10   9000.0
6   O1007       C007      Laptop         1  52200.0  2023-07-02  52200.0
7   O1008       C008      Tablet         2  16200.0  2023-07-20  32400.0

In [5]:
sales["OrderDate"] = pd.to_datetime(sales["OrderDate"])
sales[(sales["OrderDate"].dt.month==1) & (sales["OrderDate"].dt.year == 2023)]
sales.head(10)

  OrderID CustomerID     Product  Quantity    Price  OrderDate  Revenue
0   O1001       C001      Laptop         2  49500.0 2023-04-10  99000.0
1   O1002       C002      Mobile         1  22500.0 2023-04-12  22500.0
2   O1003       C003      Tablet         3  13500.0 2023-05-01  40500.0
3   O1004       C004      Laptop         1  54000.0 2023-05-15  54000.0
4   O1005       C005      Mobile         2  19800.0 2023-06-05  39600.0
5   O1006       C006  Headphones         5   1800.0 2023-06-10   9000.0
6   O1007       C007      Laptop         1  52200.0 2023-07-02  52200.0
7   O1008       C008      Tablet         2  16200.0 2023-07-20  32400.0

In [6]:
customer[customer["Region"] == "North"]
sales[sales["Revenue"] > 10000]

  OrderID CustomerID Product  Quantity    Price  OrderDate  Revenue
0   O1001       C001  Laptop         2  49500.0 2023-04-10  99000.0
1   O1002       C002  Mobile         1  22500.0 2023-04-12  22500.0
2   O1003       C003  Tablet         3  13500.0 2023-05-01  40500.0
3   O1004       C004  Laptop         1  54000.0 2023-05-15  54000.0
4   O1005       C005  Mobile         2  19800.0 2023-06-05  39600.0
6   O1007       C007  Laptop         1  52200.0 2023-07-02  52200.0
7   O1008       C008  Tablet         2  16200.0 2023-07-20  32400.0

In [7]:
customer.sort_values("SignupDate")
sales.sort_values("Revenue",ascending=False)

  OrderID CustomerID     Product  Quantity    Price  OrderDate  Revenue
0   O1001       C001      Laptop         2  49500.0 2023-04-10  99000.0
3   O1004       C004      Laptop         1  54000.0 2023-05-15  54000.0
6   O1007       C007      Laptop         1  52200.0 2023-07-02  52200.0
2   O1003       C003      Tablet         3  13500.0 2023-05-01  40500.0
4   O1005       C005      Mobile         2  19800.0 2023-06-05  39600.0
7   O1008       C008      Tablet         2  16200.0 2023-07-20  32400.0
1   O1002       C002      Mobile         1  22500.0 2023-04-12  22500.0
5   O1006       C006  Headphones         5   1800.0 2023-06-10   9000.0

In [8]:
customer["Age"] =customer["Age"].fillna(customer["Age"].median())
merged = pd.merge(customer,sales,on="CustomerID")
merged.groupby("Region")["Revenue"].mean()
support.groupby("IssueType")["ResolutionTime"].mean()

IssueType
Delivery Delay    38.000000
Payment Issue     18.666667
Product Defect    66.000000
Name: ResolutionTime, dtype: float64

In [9]:
# Data wrangling
customer["Age"] =customer["Age"].fillna(customer["Age"].median())
# customer.rename(columns={"name":"Name"}, inplace=True)
final_merge = pd.merge(merged,support,on = "CustomerID")
final_merge["CLV"] = final_merge.groupby("CustomerID")["Revenue"].transform("sum")

In [10]:
final_merge.groupby("CustomerID")["ResolutionTime"].mean()

CustomerID
C001    48.0
C002    24.0
C003    72.0
C004    36.0
C005    12.0
C006    60.0
C007    30.0
C008    20.0
Name: ResolutionTime, dtype: float64

In [12]:
final_merge.to_csv("cleaned_ecommerce_data.csv",index=False)