In [3]:
import numpy as np
import pandas as pd

employee = pd.read_csv("../Dataset/random/employee_attrition.csv")
sales = pd.read_csv("../Dataset/random/sample_data1.csv")
telecom = pd.read_csv("../Dataset/random/telecom_churn.csv")

In [4]:
# EMPLOYEE DATA
print(f"{employee.head()}")
print(f"{employee.info()}")
print(f"{employee.describe()}")
# -> Spotting Null
print(f"Data That is Null :{employee.isnull().sum().sort_values(ascending=False)}")
# -> Fill Null
employee["Job_Satisfaction"]=employee["Job_Satisfaction"].fillna(round(employee["Job_Satisfaction"].mean()))
# -> Data Aggregation
print("Average Years at company according to job role\n")
print(employee.groupby('Job_Role')["Years_at_Company"].mean())
print("Average Income according to Department")
print(employee.groupby('Department')["Monthly_Income"].mean())

print("Attrition according to Department\n")
print(employee.groupby('Department')['Attrition'].value_counts())
print("Exporting Clean Data")

employee.to_csv("../Dataset/random/cleaned/employee.csv")

  Employee_ID  Age Department           Job_Role  Monthly_Income  \
0        E001   29      Sales    Sales Executive           45000
1        E002   35         HR         HR Manager           52000
2        E003   28         IT  Software Engineer           60000
3        E004   42    Finance         Accountant           58000
4        E005   31      Sales    Sales Executive           47000

   Years_at_Company Overtime  Job_Satisfaction Attrition
0                 3      Yes               4.0        No
1                 7       No               3.0        No
2                 2      Yes               2.0       Yes
3                10       No               4.0        No
4                 4      Yes               3.0       Yes
<class 'pandas.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Employee_ID       15 non-null     str
 1   Age               15 non-null     int64
 2   Department        15 non-null     str
 3   Job_Role          15 non-null     str
 4   Monthly_Income    15 non-null     int64
 5   Years_at_Company  15 non-null     int64
 6   Overtime          15 non-null     str
 7   Job_Satisfaction  14 non-null     float64
 8   Attrition         15 non-null     str
dtypes: float64(1), int64(3), str(5)
memory usage: 1.2 KB
None
             Age  Monthly_Income  Years_at_Company  Job_Satisfaction
count  15.000000       15.000000         15.000000         14.000000
mean   32.733333    56533.333333          4.800000          3.285714
std     5.599320    11057.425861          2.908117          0.913874
min    24.000000    45000.000000          1.000000          2.000000
25%    28.500000    48500.000000          2.500000          3.000000
50%    32.000000    54000.000000          4.000000          3.000000
75%    37.000000    60000.000000          7.000000          4.000000
max    42.000000    85000.000000         10.000000          5.000000
Data That is Null :Job_Satisfaction    1
Employee_ID         0
Age                 0
Job_Role            0
Department          0
Monthly_Income      0
Years_at_Company    0
Overtime            0
Attrition           0
dtype: int64
Average Years at company according to job role

Job_Role
Accountant           8.500000
Data Analyst         1.000000
Data Scientist       5.000000
Financial Analyst    2.000000
HR Executive         5.000000
HR Manager           7.000000
Sales Executive      5.333333
Sales Manager        8.000000
Software Engineer    2.000000
Name: Years_at_Company, dtype: float64
Average Income according to Department
Department
Finance    56333.333333
HR         49000.000000
IT         63200.000000
Sales      54000.000000
Name: Monthly_Income, dtype: float64
Attrition according to Department

Department  Attrition
Finance     No           2
            Yes          1
HR          No           3
IT          Yes          3
            No           2
Sales       No           2
            Yes          2
Name: count, dtype: int64
Exporting Clean Data

In [5]:
# Sales Data
print(f"{sales.head()}")
print(f"{sales.info()}")
print(f"{sales.describe()}")
# check for null data
sales.isnull().sum()

# fill null value
sales["Monthly_Sales"] = sales["Monthly_Sales"].fillna(0)
# fill average performance rating if null
sales["Performance_Rating"] = sales["Performance_Rating"].fillna(int(sales["Performance_Rating"].mean()))

# Data aggregation
print("Average Monthly Salse according to department\n")
sales.groupby('Department')["Monthly_Sales"].mean()

print("Average Monthly salse according to Region\n")
sales.groupby('Region')['Monthly_Sales'].mean()

print("Average Salary according to region")
sales.groupby('Region')['Salary'].mean()
print("Exporting Clean Data")

sales.to_csv("../Dataset/random/cleaned/sales.csv")

   Employee_ID Department Region  Salary  Experience_Years  \
0         1001      Sales  North   45000                 2
1         1002  Marketing  South   52000                 3
2         1003      Sales   East   47000                 4
3         1004         HR   West   40000                 1
4         1005         IT  North   60000                 5

   Performance_Rating  Monthly_Sales
0                 4.0       120000.0
1                 3.0        98000.0
2                 5.0       150000.0
3                 3.0            0.0
4                 4.0            0.0
<class 'pandas.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Employee_ID         15 non-null     int64
 1   Department          15 non-null     str
 2   Region              15 non-null     str
 3   Salary              15 non-null     int64
 4   Experience_Years    15 non-null     int64
 5   Performance_Rating  14 non-null     float64
 6   Monthly_Sales       14 non-null     float64
dtypes: float64(2), int64(3), str(2)
memory usage: 972.0 bytes
None
       Employee_ID        Salary  Experience_Years  Performance_Rating  \
count    15.000000     15.000000         15.000000           14.000000
mean   1008.000000  49666.666667          3.200000            3.785714
std       4.472136   7158.079019          1.373213            0.892582
min    1001.000000  39000.000000          1.000000            2.000000
25%    1004.500000  45500.000000          2.000000            3.000000
50%    1008.000000  49000.000000          3.000000            4.000000
75%    1011.500000  52500.000000          4.000000            4.000000
max    1015.000000  62000.000000          6.000000            5.000000

       Monthly_Sales
count      14.000000
mean    76928.571429
std     62039.025293
min         0.000000
25%         0.000000
50%     95000.000000
75%    128750.000000
max    150000.000000
Average Monthly Salse according to department

Average Monthly salse according to Region

Average Salary according to region
Exporting Clean Data

In [6]:
# Sales Data
print(f"{telecom.head()}")
print(f"{telecom.info()}")
print(f"{telecom.describe()}")
# check for null data
telecom.isnull().sum()

# fill null value
telecom["Churn"] = telecom["Churn"].fillna('Yes')

print(f"Number of churns {telecom["Churn"].value_counts()}")

print(f"{pd.crosstab(telecom['Tenure_Months'],telecom['Churn'])}")

print("Average Tenure before churning\n")
print(telecom.groupby('Churn')['Tenure_Months'].mean())

print("Exporting Clean Data")

telecom.to_csv("../Dataset/random/cleaned/telecom.csv")

  Customer_ID  Gender  Age  Tenure_Months  Monthly_Charges   Contract_Type  \
0        C001    Male   25              6              500  Month-to-Month
1        C002  Female   34             24              750        One Year
2        C003    Male   45             36              820        Two Year
3        C004  Female   29              3              600  Month-to-Month
4        C005    Male   52             60              900        Two Year

  Internet_Service    Payment_Method Churn
0      Fiber Optic       Credit Card   Yes
1              DSL     Bank Transfer    No
2      Fiber Optic       Credit Card    No
3              DSL  Electronic Check   Yes
4      Fiber Optic     Bank Transfer    No
<class 'pandas.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer_ID       15 non-null     str
 1   Gender            15 non-null     str
 2   Age               15 non-null     int64
 3   Tenure_Months     15 non-null     int64
 4   Monthly_Charges   15 non-null     int64
 5   Contract_Type     15 non-null     str
 6   Internet_Service  15 non-null     str
 7   Payment_Method    15 non-null     str
 8   Churn             14 non-null     str
dtypes: int64(3), str(6)
memory usage: 1.2 KB
None
             Age  Tenure_Months  Monthly_Charges
count  15.000000      15.000000        15.000000
mean   35.266667      22.533333       702.666667
std     8.539544      19.397594       140.023807
min    23.000000       2.000000       480.000000
25%    28.500000       5.500000       595.000000
50%    34.000000      18.000000       720.000000
75%    40.500000      33.000000       815.000000
max    52.000000      60.000000       900.000000
Number of churns Churn
No     9
Yes    6
Name: count, dtype: int64
Churn          No  Yes
Tenure_Months
2               0    1
3               0    1
4               0    1
5               0    1
6               0    1
12              1    0
15              1    0
18              1    0
20              0    1
24              1    0
30              1    0
36              1    0
48              1    0
55              1    0
60              1    0
Average Tenure before churning

Churn
No     33.111111
Yes     6.666667
Name: Tenure_Months, dtype: float64
Exporting Clean Data