In [ ]:
import numpy as np

prices = np.array([100,200,300,400])
prices+5

In [ ]:
# BROADCASTING
arr = np.array([[10,20,30],[40,50,60]])
arr + 5

In [ ]:
arr = np.array([10,20,30,40,50])
arr[2]
arr[1:4]

In [ ]:
arr = np.array([
    [10,20,30],
    [40,50,60]
])

arr[1][1]

# WHATSAPP SCENARIO QUESTION

In [ ]:
sales_day1 = np.array([120,85,60])
sales_day2 = np.array([150,90,75])

total_sales = sales_day1+sales_day2
growth = sales_day2 / sales_day1

# max_idx = [idx for idx in range(len(growth)) if growth[idx] == growth.max()]
max_idx = growth.argmax()
print(f"Max Increase at :{max_idx}")

In [ ]:
temps = np.array([
    [25,28,30],
    [22,24,26],
    [30,32,33],
    [27,29,31],
    [20,21,23]
])
temps = ((temps * 9)/5)+32
print(temps)
temps+[1,0,-1]

In [ ]:
bp = np.array([
    [120,80],
    [135,85],
    [140,90],
    [110,70],
    [125,75]
])

systolic_values = bp[:,0]
print(systolic_values)
high_systolic_patient = [i for i in range(len(systolic_values)) if systolic_values[i] > 130]
print(high_systolic_patient)
systolic_values= [80 if i < 80 else int(i) for i in systolic_values]
print(systolic_values)

In [ ]:
yields= np.array([
    [2.5,3.0,1.8],
    [2.8,3.2,2.0],
    [3.1,2.9,2.2],
    [2.6,3.1,1.9]
])
yields[0,:]=yields[0,:]+[0.2,0.3,0.1]
yields[:,2]=yields[:,2]*1.1
highest_yield_region = yields.argmax()
highest_yield_crop = yields[highest_yield_region,:].argmax()
print(f"Highest Yield crop {int(highest_yield_region),int(highest_yield_crop)}")

In [ ]:
scores = np.array([
    [85,78,92],
    [88,74,90],
    [70,65,80],
    [95,89,96]
])
student = []
for i in range(len(scores)):
    student.append(int(scores[i,:].sum()))

student.sort()
print(student[2:])
# stu_max = np.array(student).argmax()
# student[stu_max]=0
# second_stu_max = np.array(student).argmax()
#
# print(stu_max,second_stu_max)
math_scores = scores[:,0]
high_scorers_in_science = [i for i in scores[:,2] if i > 90]


print(scores)

# SCENARIO BASED Question(in class)

In [ ]:
import numpy as np
# np.random.seed(42)
# yields= np.random.randint(2500,3500,size=(3,4))
# print(yields)
yields = np.array([[2602,2935,3360,2770],
 [2606,2571,3200,2520],
 [3114,2621,2966,2714]])
print(yields)
yields = yields * 1.10
print(f"\nimproved yield\n :{yields}")
wheat_yield = yields[0,:]
print(f"\nwheat yield: {wheat_yield}")
average_yield = np.mean(yields,axis=1)
print(f"\naverage yield: {average_yield}")

print(f"\nyield greater than 3000 :{yields[yields>3000]}")

In [ ]:
np.random.seed(42)
production = np.random.randint(200,700,size=(3,4))
print(production)
production = production * 1.05
print(f"Increased production :{production}")
print(f"\n Gadget's production:{production[0,:]}")
print(f"\n Average production :{np.mean(production,axis=1)}")
print(f"\n Production greater than 500:{production[production>500]}")

# PANDAS(Series and DataFrame)

In [ ]:
import pandas as pd
import numpy as np
# np.random.seed(42)
# data = {
#     "Index" : np.arange(1,5),
#     "Salary" : np.random.randint(500,5000,4)
# }
# df = pd.DataFrame(data)
# df

In [ ]:
df = pd.read_csv("Dataset/random/sample_data1.csv")
df[(df["Region"] == 'North') & (df["Monthly_Sales"] > 10000)]

In [ ]:
df.sort_values('Monthly_Sales',ascending=False)

In [ ]:
df.groupby('Region')["Monthly_Sales"].sum()

# dataset.csv

In [ ]:
data = pd.read_csv("Dataset/random/dataset.csv")
data[data['Score']>90]

In [ ]:
data[data["Department"] == "Sales"]

In [ ]:
data.sort_values("Employee")

In [ ]:
data.sort_values('Score',ascending=False)

In [ ]:
data.sort_values(['Department','Scores'],ascending=[True,False])

In [ ]:
data.groupby("Department")["Score"].mean()

In [ ]:
data.groupby("Quarter")["Score"].max()

# Ecommerce Data Wrangling

In [ ]:
import pandas as  pd
import numpy as np

In [ ]:
customer = pd.read_csv("Dataset/ecommerce/Customer.csv")
sales = pd.read_csv("Dataset/ecommerce/Sales.csv")
support = pd.read_csv("Dataset/ecommerce/Support.csv")

In [ ]:
rows , columns = customer.shape
print(f"Customer Rows:{rows} Columns:{columns}")
rows , columns = sales.shape
print(f"Sales Rows:{rows} Columns:{columns}")
rows , columns = support.shape
print(f"Supportn Rows:{rows} Columns:{columns}")

print(f"Column Name for Customer :{list(customer.keys())}")
print(f"Column Name for Sales :{list(sales.keys())}")
print(f"Column Name for Support :{list(support.keys())}")

print(f"Missing Values in Customer :\n{customer.isnull().sum().sort_values(ascending=False).to_string()}")
print(f"Missing Values in Sales :\n{sales.isnull().sum().sort_values(ascending=False).to_string()}")
print(f"Missing Values in Support :\n{support.isnull().sum().sort_values(ascending=False).to_string()}")

In [ ]:
sales["Price"] = sales["Price"]*0.90
sales["Revenue"] = sales["Price"] * sales["Quantity"]
sales

In [ ]:
sales[(sales["OrderDate"].dt.month==1) & (sales["OrderDate"].dt.year == 2023)]
sales.head(10)

In [ ]:
customer[customer["Region"] == "North"]
sales[sales["Revenue"] > 10000]

In [ ]:
customer.sort_values("SignupDate")
sales.sort_values("Revenue",ascending=False)

In [55]:
merged = pd.merge(customer,sales,on="CustomerID")
merged.groupby("Region")["Revenue"].mean()
support.groupby("IssueType")["ResolutionTime"].mean()

IssueType
Delivery Delay    38.000000
Payment Issue     18.666667
Product Defect    66.000000
Name: ResolutionTime, dtype: float64

In [56]:
# Data wrangling
customer.fillna(customer["Age"].median())

  CustomerID   Name   Age Region  SignupDate
0       C001   Amit  28.0  North  2023-01-15
1       C002  Priya  35.0  South  2022-11-20
2       C003   John  33.0   East  2023-03-05
3       C004   Sara  42.0   West  2021-07-12
4       C005  David  30.0  North  2023-02-10
5       C006  Meera  27.0  South  2022-09-18
6       C007   Alex  33.0   East  2023-01-25
7       C008   Ravi  40.0   West  2022-12-01